{% extends 'index.html' %} {% load static %} {% block title %}
<title>Proce Blog | Editar perfil</title>
{% endblock %} {% block header %}
<header
  class="masthead"
  style="background-image: url({% static 'assets/img/auth-bg.jpg' %})"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>¡AÑADE TU AVATAR!</h1>
          <span class="subheading">¡Dale un estilo único a tu perfil!</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %} {% block main %}
<main>
  <form action="{% url 'addAvatar' %}" method="POST" enctype='multipart/form-data'>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">EDITAR</button>
  </form>
</main>
{% endblock %}